<span>
    <button md-icon-button [mdMenuTriggerFor]="menu" class="ml-xs mat-icon-button">
    <md-icon>account_circle</md-icon>
    <div>
        {{user.userName}} 
    </div>
    <div>
        ({{user.groupName}})
    </div>
</button>
<md-menu #menu="mdMenu">
    <button md-menu-item>
      <md-icon>settings</md-icon>
      <span>Настройки</span>
</button>

<button md-menu-item [routerLink]="['/login']">
      <md-icon>power_settings_new</md-icon>
      <span>Выйти</span>
    </button>
</md-menu>