<span>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="ml-xs mat-icon-button">
    <mat-icon>account_circle</mat-icon>
    <div>
        {{user.userName}} 
    </div>
    <div>
        ({{user.groupName}})
    </div>
</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Настройки</span>
</button>

<button mat-menu-item [routerLink]="['/login']">
      <mat-icon>power_settings_new</mat-icon>
      <span>Выйти</span>
    </button>
</mat-menu>