<md-toolbar class="main-header mat-toolbar ">

    <span>
    
            <button md-icon-button  (click)="dialogRef.close()">
            <md-icon>keyboard_backspace</md-icon>
            <strong>{{ title }}</strong>
          </button>
    </span>
</md-toolbar>
<p>{{ message }}</p>

<div class="container">
    <form>
        <ul class="flex-outer">
            <li>
                <label>№ 5000</label>
                <label>Алиев А.Г.</label>
                <label>У мастера</label>
            </li>
            <li>
                <label for="first-name">Ф.И.О</label>
                <input type="text" id="first-name" placeholder="Enter your first name here" readonly="readonly" value="Никитина Инесса Владимировна">
            </li>
            <li>
                <label for="last-name">Телефон</label>
                <input type="text" id="last-name" placeholder="Enter your last name here" readonly="readonly" value="+7 495 345-43-45">
            </li>
            <li>
                <label for="email">Договор</label>
                <input type="text" id="email" placeholder="Enter your email here" readonly="readonly" value="45645654">
            </li>
            <li>
                <label for="phone">Отметки</label>
                <input type="text" id="phone" placeholder="Enter your phone here" readonly="readonly" value="FM: 345, 343, 347, 656">
            </li>
            <li>
                <label for="comment">Отметки</label>
                <input type="text" id="comment" placeholder="Enter your phone here" readonly="readonly" value="Никитина Инесса Владимировна +7 495 345-43-45">
            </li>
            <li>
                <label for="message">Message</label>
                <textarea rows="6" id="message" placeholder="Enter your message here"></textarea>
            </li>
            <li>
                <p>Age</p>
                <ul class="flex-inner">
                    <li>
                        <input type="checkbox" id="twenty-to-twentynine">
                        <label for="twenty-to-twentynine">20-29</label>
                    </li>
                    <li>
                        <input type="checkbox" id="thirty-to-thirtynine">
                        <label for="thirty-to-thirtynine">30-39</label>
                    </li>
                    <li>
                        <input type="checkbox" id="fourty-to-fourtynine">
                        <label for="fourty-to-fourtynine">40-49</label>
                    </li>
                    <li>
                        <input type="checkbox" id="fifty-to-fiftynine">
                        <label for="fifty-to-fiftynine">50-59</label>
                    </li>
                    <li>
                        <input type="checkbox" id="sixty-to-sixtynine">
                        <label for="sixty-to-sixtynine">60-69</label>
                    </li>
                    <li>
                        <input type="checkbox" id="other">
                        <label for="other">Other</label>
                    </li>
                </ul>
            </li>
            <li>
                <button type="button" md-raised-button (click)="dialogRef.close(true)">Сохранить</button>
                <button type="button" md-button (click)="dialogRef.close()">Отмена</button>
            </li>
        </ul>
    </form>
</div>