
.example-table {
  overflow: auto;
  min-height: 300px;
  min-width: 580px;
}

.mat-column-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
  overflow: hidden;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;}

.mat-column-created {
  max-width: 124px;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}
.example-container {
  display: flex;
  flex-direction: column;

  min-width: 300px;
}

.example-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.mat-table {
  overflow: auto;
}

#greetings{
width: 150px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
 }

 .mat-table {
  display: table;
  width: 100%;
}

.mat-table > .mat-header-row, .mat-table > .mat-row {
display: table-row;
padding: 0;
border: none;
}

.mat-table > .mat-header-row > .mat-header-cell, 
.mat-table > .mat-row > .mat-cell {
  display: table-cell;
  height: 48px;
  vertical-align: middle;
  padding: 0 0.5em;

  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.my-full-screen-dialog .mat-dialog-container {
  max-width: none!important;
  width: 100vw;
  height: 95vh;
}
.mat-paginator {
  justify-content: baseline!important;
}
.custom-button{
  position: absolute;
  right: 30px;
  top: 15px;
}
