<div class="example-container mat-elevation-z8">
<!--   <div class="example-header">
    <md-icon>search</md-icon> <md-input-container floatPlaceholder="never">
      <input mdInput #filter placeholder="Поиск">
    </md-input-container>
    <button md-mini-fab (click)="openDialog()"><md-icon>playlist_add</md-icon></button>
  
  </div> -->

  <md-table #table [dataSource]="dataSource" class="example-table" mdSort mdSortActive="applicationId" mdSortDisableClear mdSortDirection="asc">

    <ng-container cdkColumnDef="applicationId">
      <md-header-cell *cdkHeaderCellDef md-sort-header disableClear="true"> № заявки </md-header-cell>
      <md-cell *cdkCellDef="let row"> <button md-button (click)="openDialog()">{{row.applicationId}} </button></md-cell>
    </ng-container>
    <ng-container cdkColumnDef="numML">
      <md-header-cell *cdkHeaderCellDef md-sort-header disableClear="true"> № МЛ </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.numML}} </md-cell>
    </ng-container>
    <!-- Title Column -->
    <ng-container cdkColumnDef="address">
      <md-header-cell *cdkHeaderCellDef> Адреес </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.address}} </md-cell>
    </ng-container>
    <ng-container cdkColumnDef="districtName">
      <md-header-cell *cdkHeaderCellDef> Район </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.districtName}} </md-cell>
    </ng-container>
    <ng-container cdkColumnDef="statusName">
      <md-header-cell *cdkHeaderCellDef md-sort-header disableClear="true"> Статус </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.statusName}} </md-cell>
    </ng-container>
    <ng-container cdkColumnDef="createDate">
      <md-header-cell *cdkHeaderCellDef> Время создания заявки </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.createDate | date: 'dd/MM/yyyy hh:mm'}} </md-cell>
    </ng-container>
    <ng-container cdkColumnDef="endDate">
      <md-header-cell *cdkHeaderCellDef> Время закрытия заявки </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.endDate | date: 'dd/MM/yyyy hh:mm'}} </md-cell>
    </ng-container>
    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>
  <div class="fixed-div">
  <md-paginator [length]="dataSource.resultsLength" [pageSize]="15" [pageSizeOptions]="[5, 15, 25, 100]">
  </md-paginator></div>
</div>