<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field floatPlaceholder="never">
      <input matInput #filter placeholder="Поиск">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" class="example-table" matSort mdSortActive="applicationId" matSortDisableClear matSortDirection="asc">
    <!--<ng-container mdColumnDef="select">
      <mat-header-cell *mdHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *mdCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row.applicationId) : null" [checked]="selection.isSelected(row.applicationId)">
        </mat-checkbox>
      </mat-cell>
    </ng-container> -->

    <ng-container cdkColumnDef="applicationId">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header disableClear="true"> № заявки </mat-header-cell>
      <mat-cell *cdkCellDef="let row">
        <div><button mat-button (click)="openDialog()"><strong>{{row.applicationId}}</strong> </button></div>
        <div>{{row.districtName}}, {{row.address}}</div>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="numML">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header disableClear="true"> № МЛ </mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.numML}} </mat-cell>
    </ng-container>
    <!-- Title Column -->
    <!--     <ng-container cdkColumnDef="address">
      <mat-header-cell *cdkHeaderCellDef> Адреес </mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.address}} </mat-cell>
    </ng-container> -->
    <!--     <ng-container cdkColumnDef="districtName">
      <mat-header-cell *cdkHeaderCellDef> Район </mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.districtName}} </mat-cell>
    </ng-container> -->
    <ng-container cdkColumnDef="statusName">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header disableClear="true"> Статус </mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.statusName}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="groupName">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header disableClear="true"> В работе у бригады </mat-header-cell>
      <mat-cell *cdkCellDef="let row"> <button mat-button (click)="takeInWork(row)"> В работе у {{row.groupName}}</button> </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="createDate">
      <mat-header-cell *cdkHeaderCellDef> Время создания заявки </mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.createDate | date: 'dd/MM/yyyy hh:mm'}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="endDate">
      <mat-header-cell *cdkHeaderCellDef> Время закрытия заявки </mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.endDate | date: 'dd/MM/yyyy hh:mm'}} </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [length]="dataSource.resultsLength" [pageSize]="10" [pageSizeOptions]="[10, 15, 25, 100]">
  </mat-paginator>

</div>