.main-container{
    margin-top: 60px;
    margin-left: 235px;
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;

}
@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
    }
}
.mat-dialog-container {    
    max-width: 100vw!important;      
}

.container {
width: 80%;
max-width: 1200px;
margin: 0 auto;
background: #fff;;
color: #333;
padding: 50px 0;
}

.container * {
box-sizing: border-box;
}

.flex-outer,
.flex-inner {
list-style-type: none;
padding: 0;
}

.flex-outer {
max-width: 800px;
margin: 0 auto;
}

.flex-outer li,
.flex-inner {
display: flex;
flex-wrap: wrap;
align-items: center;
}

.flex-inner {
padding: 0 8px;
justify-content: space-between;  
}

.flex-outer > li:not(:last-child) {
margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
padding: 8px;
font-weight: 300;
letter-spacing: .09em;
text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
flex: 1 0 120px;
max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
flex: 1 0 220px;
}

.flex-outer li p {
margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
padding: 15px;
border: none;
}

.flex-outer li button {
margin-left: auto;
padding: 8px 16px;
}  
.flex-inner li {
width: 100px;
}


.mat-toolbar {
    min-width: 580px;
}

.app-toolbar-filler {
    flex: 1 1 auto;
  }
  
  .app-toolbar-menu {
    padding: 0 14px 0 14px;
    color: white;
  }
  
  .app-icon-button {
    box-shadow: none;
    user-select: none;
    background: none;
    border: none;
    cursor: pointer;
    filter: none;
    font-weight: normal;
    height: auto;
    line-height: inherit;
    margin: 0;
    min-width: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  .example-sidenav{

    padding: 10px;
    min-width: 200px;
  }
  .mat-sidenav {

    min-width: 200px;

}
.mat-sidenav-container {
    max-height: 1000px;
    min-height: 480px;
    height: 100vh;
}
