<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" class="app-sidenav">
        <footer>
            <app-sidebar></app-sidebar>
        </footer>
    </mat-sidenav>

    <mat-toolbar color="primary">
        <div class="example-sidenav-content">
            <button class="app-icon-button" (click)="sidenav.toggle()">
          <i class="material-icons app-toolbar-menu">menu</i>
        </button><span class='logo'><img  src="../../../assets/logo.png"></span>
        </div>
        <span class="app-toolbar-filler"></span>
        <!--         <h1>Сервис монтажника 1</h1> -->
    </mat-toolbar>
    <div class="app-content">
        <applications></applications>
    </div>
</mat-sidenav-container>
<!-- <app-header></app-header> -->
<!-- <app-sidebar></app-sidebar> -->
<!-- <section class="main-container"> -->


<!-- </section> -->